::-webkit-scrollbar{
  width: 8px;
}
::-webkit-scrollbar-thumb{
  /* border: solid white 2px; */
  border-radius: 10px;
  background: #00e676;
}
/* ::-webkit-scrollbar-track{
  background: transparent;
} */
.iframeTC{
  border: solid #666 1px;
}
#data-union-tab{
  padding: 16px 12.5px 16px 5px !important
}
#data-union-tab:hover{
  background-color: #00e676 !important;
  color: white !important;
  transition: none;
    transform: translateY(0rem) !important;
}
.first{
  transition: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.screen{
  /* position: relative;
  top: 37%; */
  text-align: center;
  margin: auto;

}
/* video{
} */
.second{
  display: none;
}
.our_team{
  width: 100%;
  margin: auto;
  /* background-color: white; */
  box-shadow: 0 1.5rem 4rem rgba(0,0,0, 0.15);
  text-align: center;
  padding: 20px 10px;
}
.name{
  font-size: 3rem;
  font-weight: 600;
}
#testimonials{
  background-color: #ef8172;
  text-align: center;
  color: white;
  padding-top: 1px;
  }
#testimonials h2{
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 4rem;
  margin: 7% 15% 0;
  padding: 0;
}
.textBox {
  margin-right: 5px;
  transition: 0s;
}

.bgWhite {
  background-color: white;
}

.center {
  margin-top: 6rem;
  text-align: center;
  font-weight: 700;
  font-size: 3rem;
}

.btn-dark:hover {
  background-color: white;
  color: black !important;
}

.download {
  width: 15%;
  min-width: 300px;
}
.copyright{
  color: white;
  text-align: center;
}
.fab {
  margin-left: -20px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* filter: invert(1); */
  transition: 0.6s;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
  padding: 1rem;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  padding: 3rem;
  background-image: url('../img/bg8.png');
  background-size: contain;
  background-repeat: no-repeat;
}

::-moz-selection {
  color: white;
  background: #00e676;
}

::selection {
  color: white;
  background: #00e676;
}

input[type='checkbox'] {
  cursor: pointer;
  -webkit-appearance: none;
  visibility: hidden;
  display: none;
}
#map{
  margin: 3rem 0;
  height: 500px;
  width: 100%;
}
#iframe_map{
  margin: 1.5rem 0 0;
  border: none;
  width: 100%;
  height: 400px;
}
iframe{
  /* border: none; */
}
.phone {
  /* transform: scale(0.7); */
  /* height: 300px; */
  text-align: center;
  margin: 8rem auto;
}

.iphoneDark {
  height: 700px;
}

.checkB {
  position: relative;
  top: 3px;
  display: block;
  width: 40px;
  height: 20px;
  background-color: #007bff;
  cursor: pointer;
  border-radius: 20px;
  overflow: hidden;
  transition: ease-in 0.5s;
}

.checkB:before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  background: #fff;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  transition: 0.5s;
}

input[type='checkbox']:checked~.checkB:before {
  transform: translate(20px);
  background: #fff;
}

input[type='checkbox']:checked~.checkB {
  background-color: #777;
}

.dark {
  background-color: black;
  color: white;
}

.navDark {
  background-color: #444;
}

.colorWhite {
  color: white !important;
}

/* .fontWhite:link{
  color: white !important;
} */
.BackBlue {
  background-color: #007bff;
}

.loginBox {
  margin-top: 10rem;
}

.fontBlack {
  color: black;
}

/* .navbar-nav{
  background-color: rgba(0,0,255,0.1);
} */
.hide {
  display: none;
}

#aboutUs,
#keyFea {
  position: relative;
  top: -15rem;
}

.track {
  margin: 15rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 56.25em) {
  .track {
    flex-direction: column;
  }

  canvas {
    width: 95% !important;
  }
}

.track-box {
  padding: 2rem;
  background-color: rgba(230, 230, 230, 0.7);
  width: 25%;
  margin-left: 10rem;
  box-shadow: 0 0.2rem 1.5rem rgba(0, 123, 255, 0.5);
  border-radius: 3px;
}

@media (max-width: 56.25em) {
  .track-box {
    width: 90%;
    margin-left: 0;
  }
}

.track-box-form {
  padding: 2rem;
}

.track-map {
  height: 50vh;
}

.track-note {
  font-size: 18px;
  font-weight: bold;
}

.prescription {
  padding: 1rem 4rem;
  margin:0 auto 5rem;
  /* border: solid 1px rgba(0, 123, 255, 0.8); */
  /* border-radius: 0rem; */
  width: 30%;
  /* text-align: left; */
  background-color: rgba(220,220,220,0.7);
}

@media (max-width: 75em) {
  .file_btn{
    top: 0 !important;
  }
  .prescription {
    border-radius: 5px;
    width: 100%;
  }
}

.prescription-box {
  text-align: center;
  margin-bottom: 0rem;
  padding: 1rem 0;
  border-bottom: 2px solid rgba(100,100,100,0.2);
}

.prescription-date {
  display: inline-block;
  margin: auto;
  font-size: 2rem;
  text-align: Left;
}

@media (max-width: 56.25em) {
  .prescription-date {
    margin: 0;
    display: block;
    padding: 1.5rem;
  }
}

.upload-file {
  padding: 4rem;
}

.upload-img-box-img {
  font-size: 4rem;
  height: 25rem;
  position: absolute;
  top: 50%;
  left: 70%;
}

@media (max-width: 75em) {
  .upload-img-box-img {
    display: none;
  }
}

.section-upload {
  position: relative;
  margin-top: 15rem;
}

.upload-img-box-img {
  font-size: 4rem;
  height: 25rem;
  position: absolute;
  top: 50%;
  left: 70%;
}

@media (max-width: 75em) {
  .upload-img-box-img {
    display: none;
  }
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-med {
  margin-bottom: 4rem !important;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}

.u-margin-top-med {
  margin-top: 4rem !important;
  padding-top: 5rem !important;
}

.u-margin-top-big {
  margin-top: 5rem;
}

@media (max-width: 56.25em) {
  .btn--prescription {
    text-align: center;
    margin-top: 2rem;
  }
}

.heading-primary {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.1rem;
  width: 100%;
}

.heading-primary--main--green {
  font-size: 4.5rem;
  color: #00e676;
}

.heading-primary--main--blue {
  font-size: 5rem;
  color: #007bff;
}

.heading-primary--colored {
  font-size: 3rem;
  background-image: linear-gradient(#00e676, #007bff);
  -webkit-background-clip: text;
  color: transparent;
}

.heading-secondary {
  text-transform: uppercase;
  font-size: 3.5rem;
  font-weight: 700;
  display: inline-block;
  color: #fff;
  letter-spacing: 0.125rem;
  transition: all 0.4s;
}

.heading-secondary:hover {
  transform: scale(1.1);
  text-shadow: 0.5rem;
}

.heading-secondary--colored {
  background-image: linear-gradient(#00e676, #007bff);
  -webkit-background-clip: text;
  color: transparent;
}

.heading-secondary--green {
  color: #00e676;
}

.heading-tertiary {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.heading-tertiary__blue {
  color: #007bff;
}

.heading-tertiary__green {
  color: #00e676;
}

.heading-tertiary--prescription {
  text-align: left;
  padding: 4rem;
  font-size: 3rem;
  color: #00e676;
}

.paragraph {
  font-size: 2rem;
}

.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-med {
  margin-bottom: 4rem !important;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}

.u-margin-top-med {
  margin-top: 4rem !important;
  padding-top: 5rem !important;
}

.btn,
.btn:link,
.btn:visited {
  word-spacing: 0.19rem;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 1.5rem 4rem;
  border-radius: 10px;
  transition: all 0.4s;
  font-size: 1.6rem;
  /* border: none; */
  cursor: pointer;
}

.btn:hover {
  transform: translateY(-0.1rem);
  /* box-shadow: 0 1rem 2rem black; */
  color: #ddd;
  /* xsirection offset , y-direction offset, blurr u want more the pix more color will blur,  rgb clolr in shadow*/
}

.btn:active,
.btn:focus {
  /* outline: none; */
  transform: translateY(-0.06rem);
  /* box-shadow: 0 0.5rem 1rem black; */
}

.btn--green {
  background-color: #00e676;
  color: white;
  font-weight: 600;
}

.btn--green:hover {
  background-color: inherit;
  border: 1px solid #00e676;
  color: #999;
}

.btn--login,
.btn--signup {
  font-size: 1.5rem;
  padding: 2rem;
}

.btn--border {
  border: 0.19rem solid #00e676 !important;
  /* margin-left: 2rem; */
  text-decoration: none;
  transition: all 0.2s, border 0.2s, color 0.2s;
}

.btn--border:hover,
.btn--border:active {
  background-color: #00e676;
}

.headBtn {
  margin: 1.25rem 1.25rem 0 0;
  width: 30rem;
}

.bgColAdd {
  background-color: rgba(40, 40, 40, 0.8) !important;
  box-shadow: 0 1.5rem 4rem rgba(255, 255, 255, 0.15) !important;
}

.bgColWhite {
  background-color: #888;
  color: white;
}

.feature-box {
  background-color: rgba(247, 247, 247, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 0.19rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform 0.3s;
  height: 100%;
}

.feature-box__icon {
  font-size: 6rem;
  margin-bottom: 0.5rem;
  color: #00e676;
}

.feature-box:hover {
  transform: translateY(-1.5rem) scale(1.03);
  box-shadow: 0rem 1rem 3rem black;
  /* xsirection offset , y-direction offset, blurr u want more the pix more color will blur,  rgb clolr in shadow*/
}

.feature-box:active {
  transform: translateY(-0.06rem);
  box-shadow: 0 0.5rem 1rem black;
}

.form {
  position: relative;
  height: 110vh;
}

.form__box {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  padding: 3rem;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.5);
  border-radius: 0.19rem;
}

.form__heading {
  text-align: center;
  padding: 2rem;
}

.form__group:not(:last-child) {
  margin: 2rem 0;
}

.form__group--btn {
  text-align: center;
  padding: 4rem 0 3rem 0;
}

.form__input {
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
  border: 0.625rem solid black;
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 0.125rem;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 0.19rem solid transparent;
  display: block;
  transition: all 0.3s;
}

.form__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 0.19rem solid #00e676;
}

.form__input:focus:invalid {
  border-bottom: 0.19rem solid #ffb900;
}

.form__input::-webkit-input-placeholder {
  color: black;
}

.form__label {
  font-size: 1.2rem;
  font-weight: 500;
  margin-left: 0.8rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
}

.form__input:placeholder-shown+.form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-3rem);
}

.form__register {
  text-align: center;
}

/* #map {
  height: 40rem;
} */

.background-color-heading {
  background-image: linear-gradient(to right,
      rgba(0, 230, 118, 0.5),
      rgba(0, 123, 255, 0.9));
  padding: 2rem 0rem;
}

.footer {
  background-color: #333;
  padding: 5rem 0 5rem 0;
  font-size: 1.4rem;
}

.footer__logo-box {
  text-align: center;
  /* margin-bottom: 8rem; */
}

.footer__logo {
  height: 12rem;
  width: auto;
}

.footer__list {
  list-style: none;
  width: 95%;
  padding-top: 3rem;
  border-top: 0.06rem solid #fff;
}

.footer__item {
  display: inline-block;
}

.footer__item:not(:last-child) {
  margin: 0.3rem;
  /* margin-right: 2rem;
      margin-left: 2rem; */
}

.footer__link:link,
.footer__link:visited {
  display: inline-block;
  font-size: 1.5rem;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  transition: all 0.3s;
  text-transform: uppercase;
}

.footer__link:hover,
.footer__link:active {
  /* transform: rotate(5deg) scale(1.5); */
  color: #00e676;
  /* box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4); */
  /* background-color: #000;  */
}

.footer__copyright {
  width: 95%;
  font-size: 1.5rem;
  color: #fff;
  font-weight: 700;
  padding-top: 3rem;
  border-top: 0.06rem solid #fff;
}

.footRow {
  width: 70%;
  margin: 10rem auto;
}

.foot {
  text-align: center;
  margin: 0 auto;
}

/* .row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) /2); }
  .row .col-1-of-3 {
    width: calc( (100% - (2 * 6rem ) )  / 3); }
  .row .col-1-of-4 {
    width: calc( (100% - (3 * 6rem ) )  / 4); }
  .row .col-2-of-3 {
    width: calc( (2* ( (100% - (2 * 6rem ) )  / 3)) + 6rem); }
  .row .col-2-of-4 {
    width: calc( ( 2*(100% - (3 * 6rem ) )  / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( (3*( (100% - (3 * 6rem ) )  / 4)) + (2 *6rem)); } */
.featuresRow {
  text-align: center;
  margin: auto;
  width: 70%;
}

.col-1-of-4 {
  padding: 2rem 1rem;
}

.header {
  height: 85vh;
  /* background-color: red; */
  background-image: url('../img/Organize.png');
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  top: 15rem;
  right: 3rem;
}

.header__logo-box {
  padding: 2rem;
}

.header__logo {
  height: 5rem;
}

.header__text-box {
  /* position: absolute; */
  /* top: 10%; */
  /* left: 12%; */
  margin-left: 10%;
  text-align: left;
}

.logo {
  position: relative;
  transition: 0.6s;
  height: 8rem;
  /* padding-left: 40px; */
}

.navigation--row {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  transition: 0.6s;
  padding: 3rem 12rem;
  /* display: inline-block;  */
}

/* nav{
  padding: 5rem !important;
} */
.navigation__nav {
  width: 100%;
}

.sticky {
  padding: 0.19rem 10rem;
  background: inherit;
  box-shadow: 0.625rem 0px 2.5rem rgba(0, 118, 230, 0.5);
}

ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul li {
  position: relative;
  transition: 0.6s;
}

.navigation__list {
  list-style: none;
  float: right;
}

.navigation__item {
  display: inline-block;
  margin: 2rem;
}

.navigation__link:link,
.navigation__link:visited {
  text-decoration: none;
  /* color: #007bff; */
  font-weight: 510;
  font-size: 1.7rem;
  border-bottom: 0.125rem solid transparent;
  transition: all 0.4s;
}

.navigation__link:link:not(.btn),
.navigation__link:visited:not(.btn) {
  padding: 1rem 0;
}

.navigation__link:hover,
.navigation__link:active {
  border-bottom: 0.125rem solid #00e676;
}

.navigation__link:hover:not(.btn),
.navigation__link:active:not(.btn) {
  padding: 1rem 0;
}

.section-about {
  background-color: rgba(247, 247, 247, 0.8);
  padding: 0rem 0rem 5rem 0;
  /* margin-top: 5rem; */
}

.section-about__para-box {
  padding: 0rem 15rem;
}

.section-about__para {
  text-align: center;
}

.col-lg-6 {
  /* overflow: hidden; */
}

.gototop {
  text-align: center;
  opacity: 0.8;
  right: 80px;
  position: fixed;
  top: 85%;
  transform: scale(0.6);
  height: 60px;
  width: 60px;
  margin: -50px 0 0 90%;
  z-index: 999;
}

.btn-dange {
  display: none;
  background-color: #00e676;
  border-radius: 15%;
  /* width: 80px; */
  /* height: 70px; */
  z-index: 99;
  margin-bottom: 2rem;
}

.btn-dange:hover {
  background-color: inherit;
  border: 1px solid #00e676;
}

i {
  width: 50px;
}

.aaa {
  color: grey;
  font-size: 30px;
  line-height: 40px;
}

@media (max-width: 767px) {
  .file_btn{
    top: 0 !important;
  }
  .our_team_img{
    width: 150px !important;
  }
  body {
    padding: 0.19rem;
    background-image: url('../img/bgph.png');
    /* background-size:auto; */
  }

  .download {
    display: block;
    text-align: center;
    margin: 20px auto;
    width: 80%;
  }

  .phone {
    /* transform: scale(0.25); */
    /* height: 100px; */
    /* position: relative; */
    /* left: -27vw; */
    /* margin-bottom:-300px; */
    /* margin-top: -300px; */
  }

  .iphoneDark {
    height: 70vw;
  }

  .gototop {
    margin: -50px 0 0 80%;
    top: 83%;
    height: 30px;
    width: 30px;
  }

  .heading-secondary {
    font-size: 2.5rem;
  }

  .logo {
    /* height: 60px; */
    transform: scale(0.6);
    padding-left: 0px;
    left: -2.5px;
  }

  .navEdit {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header {
    background-image: none;
    position: static;
  }

  .section-about__para-box {
    padding: 0rem 3rem;
  }

  .heading-primary--main--green {
    font-size: 3rem;
  }

  .heading-primary--main--blue {
    font-size: 3rem;
  }

  .footer__logo-box {
    transform: scale(0.5);
  }

  .heading-primary {
    margin-top: 10vh;
    text-align: center;
  }

  .headBtn {
    margin: 0.3rem auto;
  }

  .header__text-box {
    margin-top: 7rem;
    width: 80%;
    /* margin: 3rem 3rem -5rem; */
    margin-left: 3rem;
  }

  .paragraph {
    text-align: justify;
    font-size: 1.5rem;
  }

  .u-margin-bottom-big {
    margin-bottom: 2rem !important;
  }

  br {
    display: none;
    visibility: hidden;
  }

  .section-features {
    margin-bottom: 0rem !important;
  }

  .footer__list {
    margin-left: 0rem;
  }

  .footRow {
    width: 100%;
    margin: 1.25rem auto;
  }

  .footer__copyright {
    width: 100%;
  }

  nav {
    padding: 0rem !important;
  }

  .featuresRow {
    width: 100%;
  }

  .navbar-toggler {
    margin-right: 3.5rem;
  }

  .signUp {
    /* position: static; */
    margin-top: 5rem;
    padding: 0rem;
  }

  .signUpFooter {
    position: relative;
    top: 10rem;
  }

  .form {
    margin-top: 10rem;
  }

  .form__box {
    /* display: inline-block; */
    /* position: absolute; */
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    max-height: 400px;
    width: 90%;
    /* padding: 0 2rem; */
    /* box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.5); */
    /* border-radius: 0.19rem;  */
  }

  .form__heading {
    text-align: center;
    padding: 1rem;
  }

  .form__group:not(:last-child) {
    margin: 1rem 0;
  }

  .form__group--btn {
    text-align: center;
    padding: 2rem 0 3rem 0;
  }

  /* .form__input { */
  /* box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1); */
  /* border: 0.625rem solid  black; */
  /* font-size: 1.5rem; */
  /* font-family: inherit; */
  /* color: inherit; */
  /* padding: 1.5rem 2rem; */
  /* border-radius: 0.125rem; */
  /* width: 100%; */
  /* background-color: rgba(255, 255, 255, 0.5); */
  /* border: none; */
  /* border-bottom: 0.19rem solid  transparent; */
  /* display: block; */
  /* transition: all .3s; */
  /* }
          .form__input:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
            border-bottom: 0.19rem solid #00e676; }
          .form__input:focus:invalid {
            border-bottom: 0.19rem solid #ffb900; }
          .form__input::-webkit-input-placeholder {
            color: lightgray; }
        .form__label {
          font-size: 1.2rem;
          font-weight: 500;
          margin-left: .8rem;
          margin-top: .7rem;
          display: block;
          transition: all .3s; }
        .form__input:placeholder-shown + .form__label {
          opacity: 0;
          visibility: hidden;
          transform: translateY(-3rem); }
        .form__register {
          text-align: center; } */
}

.prescription-message {
  color: #00e676;
  margin: 7px 0;
  font-size: 18px;
}

@media (min-width: 768px) and (max-width: 992px) {
  .our_team_img{
    width: 150px !important;
  }
  body {
    /* background-image: url("../img/bgph.png"); */
  }

  .phone {
    /* transform: scale(0.25); */
    /* height: 100px; */
    /* position: relative; */
    /* left: -27vw; */
    /* margin-bottom:-300px; */
    /* margin-top: -300px; */
  }

  .iphoneDark {
    height: 70vw;
  }

  .logo {
    /* height: 80px; */
    transform: scale(0.75);
    padding-left: 0px;
    left: -3.125rem;
  }

  .header {
    left: 0px;
    background-position: -100%20%;
    /* background-image: none; */
  }

  .section-about__para-box {
    padding: 0rem 5rem;
  }

  .featuresRow {
    width: 100%;
  }

  .heading-primary--main--green {
    font-size: 3.5rem;
  }

  .heading-primary--main--blue {
    font-size: 4rem;
  }

  .form {
    margin-top: 10rem;
  }

  .form__box {
    /* display: inline-block; */
    /* position: absolute; */
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    width: 60%;
    padding: 2rem;
    /* box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.5); */
    /* border-radius: 0.19rem;  */
  }

  .form__heading {
    text-align: center;
    padding: 1rem;
  }

  .form__group:not(:last-child) {
    margin: 1rem 0;
  }

  .form__group--btn {
    text-align: center;
    padding: 2rem 0 3rem 0;
  }

  /* .form__input { */
  /* box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1); */
  /* border: 0.625rem solid  black; */
  /* font-size: 1.5rem; */
  /* font-family: inherit; */
  /* color: inherit; */
  /* padding: 1.5rem 2rem; */
  /* border-radius: 0.125rem; */
  /* width: 100%; */
  /* background-color: rgba(255, 255, 255, 0.5); */
  /* border: none; */
  /* border-bottom: 0.19rem solid  transparent; */
  /* display: block; */
  /* transition: all .3s; */
  /* }
            .form__input:focus {
              outline: none;
              box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
              border-bottom: 0.19rem solid #00e676; }
            .form__input:focus:invalid {
              border-bottom: 0.19rem solid #ffb900; }
            .form__input::-webkit-input-placeholder {
              color: lightgray; }
          .form__label {
            font-size: 1.2rem;
            font-weight: 500;
            margin-left: .8rem;
            margin-top: .7rem;
            display: block;
            transition: all .3s; }
          .form__input:placeholder-shown + .form__label {
            opacity: 0;
            visibility: hidden;
            transform: translateY(-3rem); }
          .form__register {
            text-align: center; } */
}

@media (min-width: 992px) and (max-width: 1400px) {
  .file_btn{
    top: 0 !important;
  }
  .navigation__link:link,
  .navigation__link:visited {
    font-size: 1.2rem;
  }
}
